.radio + .radio,
.checkbox + .checkbox {
  margin-top: 10px;
  }
.form-inline .checkbox,
.form-inline .radio {
  padding-left: 32px;
  }
.bootstrap-tagsinput {
  padding: 6px 1px 1px 6px;
  margin-bottom: 18px;
  font-size: 0;
  text-align: left;
  background-color: white;
  border: 2px solid #ebedef;
  border-radius: 6px;
  }
.bootstrap-tagsinput .tag {
  position: relative;
  display: inline-block;

  padding: 6px 21px;
  margin: 0 5px 5px 0;
  overflow: hidden;
  font-size: 13px;
  line-height: 15px;
  color: #7b8996;
  vertical-align: middle;
  cursor: pointer;
  background-color: #ebedef;
  border-radius: 4px;
  -webkit-transition: .25s linear;
          transition: .25s linear;
  }
.bootstrap-tagsinput .tag > span {
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding: 8px 10px 0 0;
  font-size: 12px;
  color: #fff;
  text-align: right;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: opacity .25s linear;
          transition: opacity .25s linear;
  }
.bootstrap-tagsinput .tag > span:after {
  line-height: 18px;
  min-height: 20px;
  padding:5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
.bootstrap-tagsinput .tag:hover {
  padding-right: 28px;
  padding-left: 14px;
  color: #fff;
  background-color: #16a085;
  }
.bootstrap-tagsinput .tag:hover > span {
          filter: none;
  opacity: 1;

  -webkit-filter: none;
  }
.bootstrap-tagsinput input[type="text"] {
  font-weight: normal;
  width: auto !important;
  min-width: 80px;
  max-width: inherit;
  height: 29px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #34495e;
  vertical-align: top;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  }
.bootstrap-tagsinput input[type="text"]:first-child {
  height: 23px;
  margin: 3px 0 8px;
  }
.tags_clear {
  width: 100%;
  height: 0;
  clear: both;
  }
.not_valid {
  margin-left: 5px !important;
  color: #90111a !important;
  background: #fbd8db !important;
  }
.tagsinput-primary {
  margin-bottom: 18px;
  width:;
  }
.tagsinput-primary .bootstrap-tagsinput {
  margin-bottom: 0;
  border:1px solid #cccccc;
  border-radius: 5px;
  height: inherit;
  }
.tagsinput-primary .tag {
  color: #fff;
  background-color: #1abc9c;
  }
.tagsinput-primary .tag:hover {
  color: #fff;
  background-color: #16a085;
  }
.bootstrap-tagsinput .twitter-typeahead {
  width: 200px;
  vertical-align: top;
  }

